#header, #menu, #footer {
    padding: 15px 100px;
}

#header{
    background-color: aquamarine;
    height: 5vh;
}

#menu{
    background-color: pink;
}

#footer{
    background-color: cadetblue;
    height: 5vh;
}

body{
    margin: 0px 0px 0px 0px;
}

h2, h3{
    margin: 0px 0px 0px 0px;
    padding: 15px 5px;
}

